h1, h2 {color: blue;}
.do {color: red;}
p {color: red; font-size: 20px;}
body {background: url(https://gamek.mediacdn.vn/133514250583805952/2021/8/24/pokemon-journeys-pikachu4-1629779648741323322830.jpg);}